[2019-09-08 23:36] luisbarrancos commented on #2680
@dictoon sure, and apologies for the late reply.

[2019-09-08 23:43] luisbarrancos commented on #2688
@dictoon i think it's only those 3 (glass, metal, plastic), they are marked as deprecated. Removing them will break existing Maya scenes (one can add attributes, but removing them breaks scenes). I have no idea if in Max the scenario is the same. Iterating over the shader graph to find offending shaders (v1) and disconnect the attrs, remap to new (v2) mapping and rewire everything again would be o

[2019-09-09 20:07] est77 commented on #2688
Parameters can be removed from Maya nodes. You have a warning, but scenes don't break.

[2019-09-09 20:50] dictoon opened #2695 "File path to texture-controlled pixel sampler's mask file should be converted to native format"
On Windows, it should use backslashes (`\`) instead of forward slashes:

![image](https://user-images.githubusercontent.com/321290/64565489-29973600-d354-11e9-9e0a-df8480b71b84.png)

[2019-09-09 23:34] luisbarrancos commented on #2688
@est77 great, i'll remove this and add a ticket for a script that rewires shading networks. The parameter never allowed upstream connections anyway so it should be safe.

[2019-09-10 09:09] dictoon opened #2696 "Set CMAKE_CXX_STANDARD_REQUIRED (to ON) and CMAKE_CXX_EXTENSIONS (to OFF) in top-level CMakeLists.txt"
See:

https://cmake.org/cmake/help/latest/variable/CMAKE_CXX_STANDARD_REQUIRED.html
https://cmake.org/cmake/help/latest/variable/CMAKE_CXX_EXTENSIONS.html

[2019-09-10 15:04] dictoon opened #2698 "After loading project that uses texture-controlled sampler, wrong sampler is shown in settings"
It shows `Uniform` instead of `Texture`.

[2019-09-10 21:21] dictoon commented on #2686
Is it by any chance crashing with any scene that uses JPG or PNG textures?

[2019-09-18 17:48] saisriram2710 commented on #2698
Hi, where do I look at to try and fix this?

[2019-09-19 17:08] oktomus commented on #2696
Ah there is a flag for this ! The whole time I was using CMAKE_CXX_FLAGS 💀

[2019-09-19 21:38] dictoon opened #2702 "Port appleseed.package.py to Python 3"
At least on Linux, it fails to run properly with Python 3.7.3:

[code]

[2019-09-21 11:23] dictoon commented on #2684
DOI for appleseed 2.0.0-beta: https://zenodo.org/record/3384658
DOI for appleseed 2.1.0-beta: https://zenodo.org/record/3456967

[2019-09-21 11:23] #2684 closed

[2019-09-21 13:56] #2696 closed

[2019-09-21 13:58] dictoon commented on #2698
Hi, the problem is probably in `src/appleseed.studio/mainwindow/renderingsettingswindow.cpp`.

[2019-09-21 16:53] #2641 closed

[2019-09-21 23:05] dictoon opened #2704 "Remove all occurrences of foundation::each<> and foundation::const_each<>"
Replace them by range-based `for` loops.

[2019-09-21 23:09] dictoon opened #2705 "Replace foundation types (e.g. uint32) by std types (e.g. std::uint32_t)"

[2019-09-22 10:00] dictoon commented on #2688
Unknown attributes are skipped.

That's great! I don't think these shaders can be used in Max, at least not officially, so we should be good there. I'm not sure about Blender though. @jdent02 Will removing deprecated parameters break existing Blender scenes that rely on those shaders?

[2019-09-22 11:05] saisriram2710 commented on #2698
Hi, when I try to compile renderingsettingswindow.cpp, error displayed is:

utility/windowbase.h : no such file or directory

The compiler I have used is G++ 7.4.0.

How do I resolve?

[2019-09-22 11:43] oktomus commented on #2704
You mentioned why somewhere but I forgot where 🤦‍♂ Then my question is why ?

[2019-09-22 11:58] jdent02 commented on #2688
I don't think so.  The parameter would be saved in any existing .blend but I think it just gets ignored if the shader no longer has it.

[2019-09-22 18:16] saisriram2710 commented on #2705
Hi, I am new here and I have begun working on this. Why exactly should this be done?

[2019-09-22 21:29] dictoon commented on #2705
Hi, welcome! There's no point in having our own types now that the standard library provides perfectly good integral types (it wasn't the case in C++03).

[2019-09-22 21:33] dictoon commented on #2688
Thanks for the info Jon. We should test this.

[2019-09-22 21:35] dictoon commented on #2704
Since C++11 introduced range-based `for` loops, we no longer need our custom mechanism anymore: it doesn't bring anything over range-based `for` loops. The only case where a similar custom mechanism could be useful is for reverse iteration.

[2019-09-22 21:36] dictoon commented on #2698
Everything else compiles? Can you post the full compilation log (as an attached text file)?

[2019-09-23 06:18] saisriram2710 commented on #2698
[log.txt](https://github.com/appleseedhq/appleseed/files/3640853/log.txt)
Is this what you meant by the compilation log?

[2019-09-23 06:19] saisriram2710 commented on #2705
Makes sense, yes. Thanks. I'll work on replacing them.

[2019-09-23 06:41] saisriram2710 commented on #2705
Hi, in-
appleseed/src/appleseed/renderer/utility, there is a line:
`out_depth_map["uint8"] = TypeDesc::UINT8;`

Should it be modified as:
`out_depth_map["std::uint8_t"] = TypeDesc::UINT8;`

[2019-09-23 06:51] saisriram2710 commented on #2705
In a similar doubt, should the change be done for instances such as:
`foundation::uint32 m_object_instance_index;`
in appleseedhq/appleseed/src/appleseed/renderer/kernel/intersection/trianglekey.h?

[2019-09-23 08:57] saisriram2710 commented on #2705
Should this be done to float variables as well?

[2019-09-23 19:31] oktomus commented on #2705
Hi @saisriram2710, you should come on our discord to talk with us more easily about code :) https://discord.gg/dNCE5J8

[2019-09-23 19:32] oktomus commented on #2705
I don't think so. I don't know the context of this, let's talk about this in #dev on discord.

[2019-09-23 19:32] oktomus commented on #2705
You mean std::float ? If so, no.

[2019-09-23 19:33] oktomus commented on #2705
Do you have an exemple ?

[2019-09-25 07:30] dictoon commented on #2686
Could you post a screenshot of appleseed.studio's About dialog running on your machine please?

[2019-09-25 10:26] LZaw opened #2706 "Replace Homebrew with static build script on the CI"
Since Homebrew tends to change things (e.g. remove llvm@5, see [this example](https://travis-ci.org/appleseedhq/appleseed/jobs/589044702)) it would be beneficial to have a static build script for mac, including a prebuilt package of dependencies, comparable to the current Windows and Linux approach for the CI.

[2019-09-25 16:41] dictoon opened #2709 "Use foundation::fast_pow2() instead of std::pow when applying exposure"
For instance in the EDFs.

[2019-09-26 18:07] dictoon opened #2710 "Add image I/O unit tests"
Generate then write a test image, read it back, compare.

Test a variety of formats (PNG, JPEG, OpenERX).

[2019-09-27 17:00] dictoon opened #2711 "Set line ending convention in .gitattributes and fix line endings issues"

[2019-09-27 17:05] dictoon opened #2712 "Crash when rendering ends after a texture has been altered during interactive rendering"
In appleseed.studio:

1. Open any scene that uses textures.
2. Start interactive rendering.
3. Modify a property of a texture entity, say, the color space.
4. Stop rendering.

The crash occurs because the texture cache still has tiles that reference the old texture (entities are mostly immutable so when a texture is changed, it really is recreated).

[2019-09-28 03:58] hbina commented on #2704
If no one is working on this I would like to take it

[2019-09-28 07:42] oktomus commented on #2704
Go ahead @hbina  :)

[2019-09-28 19:57] dictoon opened #2713 "as_anisotropy_vector_field shader doesn't use its in_field_mode input"

[2019-09-29 02:32] hbina commented on #2704
@oktomus I have been trying to extract the tar file here https://github.com/appleseedhq/linux-deps/releases/download/v2.1/appleseed-deps-shared-2.1.tgz
but for whatever reason I have insufficient permission. Do I really need to do this?

[2019-09-29 16:41] oktomus commented on #2704
@hbina For any problem you encounter with compilation, you should ask for help in #compiling on our discord https://discord.gg/dNCE5J8

[2019-09-30 21:50] dictoon opened #2715 "Redundant command line options in projecttool"
[code]

`update` command is redundant with `--to-revision`.

Also, it would be nice if the columns were aligned somehow.

[2019-09-30 21:55] dictoon opened #2716 "Change appleseed.cli's --samples command line argument to take a single value"
Instead of two, the second one of which being ignored anyway.

[2019-10-03 11:38] juancarlosgzrz opened #2718 "Buggy intersections (self-intersections?) using Embree"
Attached scene:

[Interior_Embree_IntersectionBug appleseed project.zip](https://github.com/appleseedhq/appleseed-max/files/2311308/Interior_Embree_IntersectionBug.appleseed.project.zip)

[2019-10-03 19:31] achalpandeyy commented on #2686
Apologies for the delay.

Aforementioned crashing behaviour is still there.

Here is the requested screenshot (latest `master` as of now):
<img width="1440" alt="Screenshot 2019-10-04 at 12 59 02 AM" src="https://user-images.githubusercontent.com/35342732/66157938-75cb5280-e642-11e9-9605-228f6dacd329.png">

[2019-10-04 06:52] dictoon commented on #2686
Thanks!

Would you mind running appleseed again under gdb and showing us the backtrace when it crashes?

[2019-10-08 05:03] luisbarrancos commented on #2717
This was tested under maya, all blend modes produce the expected results with 2 input colors, 1 tex 1 color, 1 color 1 tex, 2 textures. Whatever it is, it's not on the shaders. I cannot test on blender nor Max.

[2019-10-09 05:40] achalpandeyy commented on #2686
Here is the stack trace I got when I ran `appleseed.studio` with `lldb` on the terminal:
[code]

Doing the same in VSCode seemed like it gave more information but, alas, it doesn't let me copy the stack trace even after clicking "Copy Call Stack" a thousand times.

[2019-10-09 11:42] dictoon commented on #2686
Thanks!

Very weird, it looks like an out-of-bounds memory access...

What about a screenshot then? :)

[2019-10-15 07:09] dictoon opened #2722 "Expose the code that prints appleseed library and 3rd parties information"

[2019-10-15 16:29] mandeep commented on #2715
I imagine in this case we would want to keep the `update` command and remove the `--to-revision` option, right?

[2019-10-15 20:56] dictoon commented on #2715
Yes.

Doing this cleanly is less obvious than it looks :)

[2019-10-18 09:43] dictoon opened #2725 "Render time in render stamp doesn't match render time in console"
![image](https://user-images.githubusercontent.com/321290/67084029-7adce580-f19c-11e9-9841-5ab3b904c88a.png)

[2019-10-18 20:23] #2716 closed

[2019-10-19 21:49] oktomus opened #2726 "Log an error message if the executable given to the test suite runner is incorrect"
At the moment, if you try to run the test suite using `runtestsuite.py` with an incorrect executable path (see `-t` argument), the program fails silently. Instead, print an error message.

[2019-10-21 13:37] dictoon commented on #2717
Confirmed to be working in Gaffer and Blender 2.79b.

[2019-10-21 13:50] dictoon commented on #2717
**Not** working in Blender 2.80:

![image](https://user-images.githubusercontent.com/321290/67211123-84738100-f41a-11e9-88c3-ed5b8147febd.png)

[2019-10-21 17:27] oktomus opened #2728 "Uniform scale test is not robust enough for analytic lights"
See scene `sandbox\tests\test scenes\analytic lights\04 - disk - analytic.appleseed`. It outputs the following warning:

But the matrix looks uniform.

We may need to the following :
- Introduce some threshold in the scale transform components test

[2019-10-23 07:25] dictoon commented on #2728
Are you sure the scaling is actually uniform? Isn't there a -1 scaling along one dimension?

[2019-10-23 15:51] oktomus commented on #2728
There it is

    <matrix>
    1.00000000000000000 0.00000000000000000 0.00000000000000000 0.00000000000000000
    0.00000000000000000 0.00000000000000000 1.00000000000000000 0.55000000000000004
    0.00000000000000000 1.00000000000000000 0.00000000000000000 0.00000000000000000
    0.00000000000000000 0.00000000000000000 0.00000000000000000 1.00000000000000000
    </matrix>

[2019-10-24 06:33] dictoon commented on #2728
What scale factors are reported?

[2019-10-24 06:36] oktomus commented on #2728
I haven't checked yet

[2019-10-27 09:00] Mango-3 commented on #2539
Seems like using Intel TBB would solve the problem. There is a PR open for [TBB implementing NUMA memory allocation and huge page support under Windows](https://github.com/intel/tbb/pull/168).
An additional advantage would probably be by replacing appleseed's simple task scheduler with TBB's to have improved scaling performance with higher core count cpus like AMD EPYC.

[2019-10-27 12:45] oktomus commented on #2728
Disk wordl space scale :
    -1 1 1

    std::cout << "\nDisk world space scale : \n";
    std::cout << scale.x << " " << scale.y << " " << scale.z << "\n";
    std::cout << std::endl;

[2019-10-27 12:45] oktomus commented on #2728
Shouldn't we consider -1, 1 to be uniform for this case .

[2019-10-27 16:15] dictoon commented on #2728
I guess we could but I don't see a reason to justify the complexity. It feels reasonable to ask that the object has (1, 1, 1) scaling.

[2019-10-28 12:00] #2728 closed

[2019-11-04 10:59] dictoon opened #2731 "Can we detect and report that a system requirement isn't met?"
For instance, if appleseed is built with SSE4.2 instruction set support but the CPU doesn't support them, can we detect and report that? It seems unlikely as SSE4.2 instructions may be used very early in the process...

[2019-11-07 12:16] dictoon opened #2732 "Add fallback search paths for shaders?"
It would be nice if as a fallback, appleseed (appleseed.cli and appleseed.studio, at least) would look for compiled OSL shaders in the `shaders/` subdirectory of the appleseed installation.

[2019-11-07 17:07] dictoon opened #2735 "Allow multiple script nodes in the same scene"

[2019-11-18 04:12] mandeep commented on #2726
Do we still want report.html created? Or, should we just error out early with a message to stderr?

[2019-11-18 08:48] oktomus commented on #2726
I think we just need an error

[2019-11-18 17:57] #2726 closed

[2019-11-20 07:58] dictoon opened #2738 "Assign proper texture coordinates to objects of built-in Cornell Box scene"

[2019-11-23 13:02] dictoon opened #2739 "When resuming paused render, remaining time estimation is off"

[2019-11-26 17:16] Mango-3 opened #2740 "Expose default tangent mode settings in OSL shader"
Since commit 48af6fb14ee784a0600d0030e45cea02789f1595 there is the possibility of setting the default tangent mode (radial, local_x, local_y, local_z) but it is not exposed in the OSL shader and therefore to the user.

[2019-12-02 12:47] jdent02 opened #2744 "as_texture2surface is missing all metadata"
Originally posted in

https://github.com/appleseedhq/blenderseed/issues/477

[2019-12-04 22:23] dictoon commented on #221
Hair shading implemented in #2132.

[2019-12-04 22:24] #221 closed

[2019-12-08 23:25] darthgera123 commented on #2704
hi is this issue still open? I would like to work on it

[2019-12-10 11:50] dictoon commented on #2704
Yes it is still open.

[2019-12-20 15:59] dictoon opened #2747 "Stop having tile callback factories always return the same tile callback"
This appears incompatible with `renderer::Display` and DSO-loaded tile callback factories (at least in the case of the progressive frame renderer).

[2019-12-21 14:13] dictoon commented on #2681
Hi Eric,

I'm on winter vacation and will have lots of free time over the next couple weeks. If you're still working on this (or planning to) I would love to help.

Regarding some of your points:

Well that's interesting. We should definitely start investigating what happens with appleseed.cli then (rather than focus on Gaffer).

So I assume you tried `appleseed.cli.exe --run-unit-tests` (you can

[2019-12-21 14:18] dictoon commented on #2681
Do you mean that `appleseed.cli.exe --run-unit-benchmarks` works fine?

One thing of note is that you're using shared versions of Boost, OIIO, OpenEXR and OSL, which isn't the default setup.

Are you compiling the rest of the dependencies yourself or are you relying on our prebuilt binaries for those (which are found [here](https://github.com/appleseedhq/windows-deps/releases))?

[2019-12-22 15:24] dictoon opened #2750 "Albedo AOV (and possibly others) wrong when using OSL shader networks"
Repro case: [cornell_box_albedo_osl.zip](https://github.com/appleseedhq/appleseed/files/3992631/cornell_box_albedo_osl.zip)

![image](https://user-images.githubusercontent.com/321290/71323772-60462600-24d7-11ea-8a84-3cdaceb540fc.png)

[2019-12-24 14:20] ericmehl commented on #2681
hi @dictoon, that would be great if you could spare some time to look into it! I haven't had a chance to pursue it since I last posted on the thread.

I'm compiling the other dependencies myself. The Gaffer dependencies are already pretty extensive and include all the libraries Appleseed uses (albeit some are different versions) so ideally I'd like to reuse those.

I tried building with the recomm

[2019-12-28 11:07] LZaw opened #2752 "Split tiles by workload"
Having smaller tiles where there is a lot of work to do balances the time spend per tile.
It's highly recommended to also implement #1088 when working on this Issue.
Possibly #1701 would not be needed anymore after finishing this one.

[2019-12-28 15:23] oktomus opened #2754 "Don't instanciate a TextureStore each time we pick something in the scene"
We recently added printable settings on texture store (8d949848e376a8e93fb516dcaabdb7f7dfe88b2b). These settings are printed when the store is created. Thanks to this, we noticed a bug in **appleseed.studio**: each time the user wants to pick a material or an object, a new TextureStore is created.

The reason is that a `ScenePicker` is instantiated each time we call `pick()`.

Because the picker i

[2019-12-28 15:24] oktomus opened #2755 "Fix lighting regression in OpenGL mode"
How the lighting should be (appleseed 2.0.0)
![image](https://user-images.githubusercontent.com/4656466/71545690-857edc80-298e-11ea-8a29-74d3d367b7d7.png)

How the lighting is now (appleseed 2.1.0)
![image](https://user-images.githubusercontent.com/4656466/71545696-90d20800-298e-11ea-9a83-2c0bbbf7cbd0.png)

[2019-12-30 14:41] dictoon commented on #1701
Closing this ticket as we decided that this feature isn't worth the effort and added complexity. If we do want to do something in this area, the idea from #2752 feels superior anyway.

[2019-12-30 14:41] #1701 closed

[2020-01-11 12:48] dictoon opened #2759 "Ctrl+Shift+<Number> doesn't work anymore"
It's supposed to switch between shading override modes but it no longer does.

[2020-01-11 14:27] dictoon opened #2760 "Normalize point coordinates wrt. the object's bounding box in triplanar shader"
Even when Object Space is used, intersection point coordinates are not normalized with respect to the object's bounding box. That means that if the object is, say, a box with dimensions 3x3x3 (in object space), then the texture will be tiled three times in each direction (assuming frequency = 1). With frequency = 2, it will be tiled six times, etc.

Is it possible to (optionally?) normalized textu

[2020-01-11 15:20] dictoon opened #2761 "Frequency and offset don't work properly in triplanar shader"
[triplanar2.zip](https://github.com/appleseedhq/appleseed/files/4049466/triplanar2.zip)

The problem appears to be caused by these lines in as_texture_helpers.h:

https://github.com/appleseedhq/appleseed/blob/master/src/appleseed.shaders/include/appleseed/texture/as_texture_helpers.h#L136-L137

[2020-01-11 15:27] dictoon commented on #2750
Albedo AOV is now fixed.

[2020-01-11 15:27] #2750 closed

[2020-01-11 15:31] dictoon commented on #2725
Fixed.

[2020-01-11 15:31] #2725 closed

[2020-01-11 15:54] dictoon commented on #2759
Related to issue #1042.

[2020-01-11 16:01] dictoon opened #2762 "Franz's list of random TODOs and issues"
A good resolution I'm taking for 2020 is to stop having a parallel, private list of issues and things to do, and use GitHub's issue tracker instead.

What you'll find below is a random list of TODOs and issues, some of which might be already done, obsolete, or just plain bad ideas. They are roughly sorted in ascending creation time, i.e. top issues are _very_ old and bottom ones are newer.

These

[2020-01-12 10:14] dictoon opened #2763 "Check Max Ray Intensity test scenes"
In particular:

- Why are there more fireflies in 02 (SPPM) than 01 (PT?)
- Why are 03 (MRI disabled in PT) and 04 (MRI enabled in PT) the same?

[2020-01-19 15:33] dictoon opened #2765 "Black-body emission not working unless emission color is non-black in asStandardSurface"
In the `asStandardSurface` material, if emission color is pure black (zero), then black-body emission is disabled. Any non-black emission color makes black-body radiation work correctly.

![image](https://user-images.githubusercontent.com/321290/72683629-4f3e0400-3ad9-11ea-91ce-2932f8287db3.png)

[2020-01-26 18:05] dictoon commented on #2712
Fixed.

[2020-01-26 18:05] #2712 closed

[2020-01-27 19:53] dictoon opened #2766 "Remove EphemeralShadingResultFrameBuffer?"
It looks like `PermanentShadingResultFrameBuffer` is a strict superset.

[2020-02-01 09:38] dictoon opened #2767 "Panning render widget is very slow after zooming in"
The render widget becoming very large probably has something to do with this.

Issue #87 might be related to this.

[2020-02-01 10:23] oktomus commented on #2767
See `WidgetZoomHandler::apply_scale_factor`

[2020-02-03 07:27] est77 commented on #2744
This is not a bug. texture2surface is an utility shader used to preview texture swatches and things like that. It should be skipped by all plugins and not shown in UIs.
Plugins should create the shader and insert it directly into scenes when previewing textures.

[2020-02-04 12:33] dictoon commented on #2744
Thanks @est77! Created a new ticket on blenderseed's side: https://github.com/appleseedhq/blenderseed/issues/491

[2020-02-04 12:33] #2744 closed

[2020-02-05 08:58] #2755 closed

[2020-02-09 17:02] dictoon opened #2771 "Allow to use foundation::Vector in compile-time (`constexpr`) expressions"

[2020-02-11 14:00] dictoon commented on #2705
Done.

[2020-02-11 14:00] #2705 closed

[2020-02-16 23:35] dictoon opened #2776 "Keep unused CPU cores busy during unit benchmarking"
From Prime95's source code:

[code]

[2020-02-18 08:45] lorentzo commented on #701
Hi!
I will tackle with this problem.

[2020-02-19 13:56] ChinYing-Li commented on #2710
I am Alice, and would be great if you can assign me this issue.
I just added my test_imagewriter.cpp file to the build.

[2020-02-19 16:52] oktomus commented on #2710
No need to assign issues @ChinYing-Li, you can just start working on it :)

[2020-02-20 12:56] lorentzo commented on #701
Hi!

About the progress and further work.

After examining [LatLongEnvironmentEDF](https://github.com/appleseedhq/appleseed/blob/master/src/appleseed/renderer/modeling/environmentedf/latlongmapenvironmentedf.cpp) class and comparing it to the [OSLEnvironmentEDF](https://github.com/appleseedhq/appleseed/blob/master/src/appleseed/renderer/modeling/environmentedf/oslenvironmentedf.cpp) class I have c

[2020-02-20 20:21] est77 commented on #701
OSLShaderGroupExec is probably a better class to use when evaluating the background shader.

As for getting the OSLShadingSystem you need, there is a method in ShaderGroup that we call, ShaderGroup::create_optimized_osl_shader_group. After shader groups are optimized, we could add a similar method to EnvironmentEDFs and call it in a similar way, passing the OSLShadingSystem. There you can construc

[2020-02-21 12:30] prat31 commented on #2704
I would like to work on this. Is it still open?

[2020-02-21 17:15] lorentzo commented on #701
OK, thank you for the hint. It makes sense.

I have another doubt. How can I determine the resolution of sampling (importance map dimensions)?

In OSL's test render [background](https://github.com/imageworks/OpenShadingLanguage/blob/1159d140cf7835fafaad7318a6c807582ecc06fe/src/testrender/background.h#L54) resolution is [parsed from scene file](https://github.com/imageworks/OpenShadingLanguage/blob

[2020-02-21 18:16] est77 commented on #701
I guess it could be a parameter of the OSL environment entity with a reasonable default, maybe 1024  or something like that? You can use that for the width of the map and use height = width / 2.

[2020-02-22 14:06] #2698 closed

[2020-02-22 14:10] #2695 closed

[2020-02-22 14:11] dictoon opened #2778 "Move `QDir::toNativeSeparators()` calls to `get_open_filename()` and similar functions"

[2020-02-22 14:12] dictoon commented on #2704
It is.

[2020-02-22 14:19] dictoon commented on #2710
Actually it's a good practice to assign issues, it's just that sometimes we're lazy :)

[2020-02-22 17:09] lorentzo commented on #701
OK, thank you for the suggestion. For now, I have hard-coded the value. First, I will perform some tests with hard-coded the value then I will try to get this value from `m_inputs`.

Currently, I have implemented creation of importance map and sampling which is using this importance map. Work can be seen on my [github fork](https://github.com/lorentzo/appleseed/blob/osl_importance_sampling/src/app

[2020-02-22 20:49] ChinYing-Li commented on #2710
PR for review :)

[2020-02-23 10:47] ani1998ket commented on #2778
hey @dictoon could you please elaborate on what needs to be done for this particular issue?

[2020-02-23 13:30] oktomus commented on #2778
@ani1998ket Take a look at `toNativeSeparators` calls in the source code. These calls should be done in `get_open_filename` so that the path returned by `get_open_filename` always work on all platforms

[2020-02-23 17:08] Mango-3 commented on #2735
I think this issue can be closed.

[2020-02-25 20:28] dictoon commented on #2735
It can but I'd like to have at least one test scene in the test suite to check that this works.

[2020-02-26 07:54] dictoon commented on #2778
To be precise, it will always work on all platforms, regardless of whether `toNativeSeparators()` is called or not because the `/` path separator is also supported on Windows. The purpose of this call is just to make log messages nicer.

[2020-02-26 13:59] archisha-chandel commented on #2754
![image](https://user-images.githubusercontent.com/47753303/75351503-46a5ce00-58ce-11ea-8517-dd73a6a9ff3a.png)
So, this should not be printed everytime an object is picked or selected?

[2020-02-26 19:29] oktomus commented on #2754
@archisha-chandel The `store settings` block should not

[2020-02-27 05:11] Aaron19960821 commented on #2778
I would like to look into this issue. Please assign it to me. :D

[2020-02-27 12:17] oktomus commented on #2778
@Aaron19960821 No need to assign it, you can just say you are working on it here :)

[2020-02-29 09:22] dictoon commented on #701
I would say no if we can avoid it? Why would the importance map be invalid? If there are legitimate cases, can we make it always valid such that there's no additional `if` in the actual rendering code path?

No need to create new files. It's nice to have all related code in one file but that code doesn't need to be reused elsewhere.

Also there shouldn't be any OSL stuff in appleseed.foundation.

[2020-02-29 09:25] dictoon commented on #701
One thing that isn't entirely clear to me: why can't you use `foundation::ImageImportanceSampler` directly, passing your own image sampler when calling `rebuild()`?

[2020-02-29 11:39] lorentzo commented on #701
OK, I think the word "invalid" is inappropriate. In LatLongMapEnvironmentEDF I have seen this [warning](https://github.com/appleseedhq/appleseed/blob/8a73f615f94f71b31b3849c3bbacdbca19dba07d/src/appleseed/renderer/modeling/environmentedf/latlongmapenvironmentedf.cpp#L220). So I was thinking if (for any reason) importance map is not available, then maybe uniform sampling should be enabled. But as m

[2020-02-29 11:49] lorentzo commented on #701
Yes, you are right it doesn't make sense. In my current implementation I am using `foundation::ImageImportanceSampler`. Sorry for not updating this issue with new information - I have opened PR #2784  where you can see the latest news, the code, and description.
(Note for PR: I am still in progress of testing and updating some changes. Tomorrow those changes should be up)

[2020-03-04 08:45] #2778 closed

[2020-03-04 18:33] ChinYing-Li commented on #2548
I can try tackle this one for macos and linux builds.

[2020-03-06 09:20] Ramanathi commented on #2520
hello,I'm Gsoc aspirant here, I want to contribute to Appleseed by fixing this issue. Can u help me out

[2020-03-06 17:36] oktomus commented on #2520
@Ramanathi Let's talk about this in #dev on our discord.

[2020-03-06 18:24] est77 commented on #2520
We can use the resource paths for this.
Each app / plugin could add the path with the default shaders to it.
One easy way to locate resources is to dlopen / LoadLibrary appleseed's lib and ask the OS for the path to it

[2020-03-08 12:53] Aaron19960821 commented on #1487
@dictoon When I investigate this issue, I found that we already have a warning message in
src/appleseed/renderer/modeling/material/genericmaterial.cpp:97.
I think we can close it now. :)

[2020-03-08 14:06] oktomus opened #2797 "Explicitly give signals and slots when calling `connect`"
Instead of doing
[code]
do
[code]

This allow to detect `connect` errors at compile time instead of runtime.
Also, navigating to signals or slots in Visual Studio is easier.

For signals or slots that have multiple arg possibilities, you can specify which one to chose with `qOverload`. Example, this
[code]
become
[code]

[2020-03-08 14:20] oktomus commented on #1487
@Aaron19960821 The warning we already have is not for the same issue.

Here, we want to warn that a material is a volume and has an alpha map at the same time.

In our current code, the warning tells you that you are emitting light and have an alpha map at the same time.

[2020-03-08 15:24] Aaron19960821 commented on #1487
@oktomus I am sorry, I will take a look on this issue.

[2020-03-08 15:42] Aaron19960821 commented on #2551
I am very curious why we need to reimplement it.

[2020-03-08 20:56] Mango-3 commented on #2520
Looks fairly similar to issue #2732

[2020-03-08 21:01] Mango-3 commented on #2347
Also **Move foundation/utility/string.h to string/string.h**  #2796

[2020-03-09 08:50] est77 commented on #2551
The initial implementation was not correct. On top of that, there are some new papers with alternative implementations that fit better in appleseed.

This ticket is mostly done. There are some improvements to make for metal and we need
to check glass, but I suspect there are some other issues with the glass BSDF.

[2020-03-10 12:42] ChinYing-Li opened #2800 "Wrong png output using Color4b when alpha channel not 2^8-1"
![螢幕截圖 2020-03-10 上午8 20 59](https://user-images.githubusercontent.com/55926883/76311818-24398a80-62a8-11ea-86f9-4f7969c1ce43.png)
I was writing experimental unit tests for png as suggested by @oktomus because Color4b(50, 100, 150, 42) does not work.
[code]
[code]
[code]
[code]
[code]
[code]
[code]

As one can see, test cases where alpha channel not set to 255 failed. (I forgot to change the Color

[2020-03-10 12:45] dictoon commented on #2800
Is the problem in writing the files, or reading them? Can you provide a file written with alpha < 255?

[2020-03-10 12:50] ChinYing-Li commented on #2800
Here's Color4b(0, 0, 255, 255)
![test_imagefilewriter_blue_full](https://user-images.githubusercontent.com/55926883/76313790-053cf780-62ac-11ea-934a-4b9459c97ab3.png)
Here's Color4b (0, 0, 255, 128)
![test_imagefilewriter_blue_half](https://user-images.githubusercontent.com/55926883/76313830-1be34e80-62ac-11ea-98b3-3b861e8bb0fe.png)

[2020-03-10 12:50] dictoon commented on #2732
Duplicate of #2520.

[2020-03-10 12:50] #2732 closed

[2020-03-10 12:52] ChinYing-Li commented on #2800
Here's the details of test result:
![螢幕截圖 2020-03-10 上午8 50 54](https://user-images.githubusercontent.com/55926883/76313962-564ceb80-62ac-11ea-8b65-8f7117148ab7.png)
I think the problem is in reading.

[2020-03-10 13:07] dictoon commented on #2800
Thanks.

As far as I can tell, you've changed your PR you only write and read RBG channels in the PNG case so I can't check how you were reading back the image.

Could you investigate what happens when we read the image, and why would the alpha channel be lost? I'm pretty sure this is working correctly. A good way to double check would be to render one of the test scene in `sandbox/tests/test scen

[2020-03-10 16:51] lorentzo commented on #2427
Hi!
I am quite interested in this method as well.
I consider it is important for my research, therefore I have investigated the paper.
There is also source code available for Mitsuba rendering engine here: https://blogs.unity3d.com/2017/10/02/microfacet-based-normal-mapping-for-robust-monte-carlo-path-tracing/.
I would like to know if any progress has been made so far?
Also, I would like to help w

[2020-03-12 08:56] lorentzo commented on #735
Hi!
Just to make sure if I understand correctly:
* Checking for referenced textures that cannot be find, should be done in `DisneyMaterial::on_frame_begin()`? That is, ideally, in `DisneyMaterial::on_render_begin()`?
* Warning should be done using `RENDERER_LOG_WARNING()`?

[2020-03-12 09:03] lorentzo commented on #2306
Hi!
Just to clarify. By "standard surface shader" is meant `renderer/modeling/surfaceshader/physicalsurfaceshader.cpp`?

[2020-03-13 12:47] dictoon commented on #735
Yes, that's correct on both accounts (check in `DisneyMaterial::on_render_begin()`, not in `DisneyMaterial::on_frame_begin()`).

[2020-03-13 12:49] dictoon commented on #2306
I believe this ticket is about testing the "appleseed Standard Surface" OSL shader whose code can be found in [src/appleseed.shaders/src/appleseed/as_standard_surface.osl](https://github.com/appleseedhq/appleseed/blob/master/src/appleseed.shaders/src/appleseed/as_standard_surface.osl).

The idea would be to add new test scenes in the test suite located in [sandbox/tests/test scenes/](https://githu

[2020-03-13 12:52] dictoon commented on #1487
Done.

[2020-03-13 12:52] #1487 closed

[2020-03-13 12:56] dictoon commented on #2427
I don't think progress has been made on this topic so go ahead!

[2020-03-14 15:34] Aaron19960821 commented on #1231
I would like to take a look at this bug. :)

[2020-03-16 06:53] achalpandeyy commented on #2754
Hi!
Is anybody looking into this? I'd like to take a stab at it.

[2020-03-20 18:27] LeaBroudo commented on #2797
I'd like to work on this issue, as I'm new to appleseed. Are there any particular files I can find this in? grep is taking a bit too long.

[2020-03-20 18:53] oktomus commented on #2797
@LeaBroudo run grep in a specific folder. For instance `src/appleseed.studio`.

[2020-03-20 19:11] LeaBroudo commented on #2797
Got it! I'll start on it now.

[2020-03-22 15:48] usakhelo commented on #2030
Hi,
Just wanted to mention that some research is underway in [this repository](https://github.com/usakhelo/appleseed-materialx)
As of today we are waiting for [metadata support](https://github.com/materialx/MaterialX/issues/371) in MaterialX which will likely appear on or before 1.38.

[2020-03-22 16:30] usakhelo commented on #2092
Can't reproduce this, everything is working fine after the import.

[2020-03-24 22:31] dictoon commented on #2092
I cannt reproduce either, everything appears to work fine.

[2020-03-24 22:31] #2092 closed

[2020-03-26 10:09] lorentzo opened #2808 "Enable entities to build importance map for OSL shaders in on_render_begin()"
### Motivation:
This issue occurred while solving the issue #701 in PR #2784. Segmentation error occured if `build_importance_map()` is called from `on_render_begin()` in `OSLEnvironmentEDF`. The reason is that OSL shaders (that are required for building importance map) haven't been compiled.

@est77:

**NB:** `on_render_begin()` should be used opposed to  `on_frame_begin()` when possible. See [th

[2020-03-26 23:27] tyxchen commented on #2284
I can work on this issue.

Out of curiosity, what is meant by "script version"? Would the Git hash of the commit where the script was last changed suffice?

[2020-03-27 23:46] laurelkeys commented on #2765
@dictoon I think this can be closed now 🙂

[2020-03-28 21:41] mororo250 commented on #1420
isn't it done?

[2020-03-28 21:42] mororo250 commented on #1420
this is already done, right?

[2020-03-30 10:03] dictoon opened #2812 "Preserve frame content in `ProjectBuilder::edit_frame()`?"
Needs to be discussed first.

[2020-03-30 19:55] dictoon commented on #1420
As the comment above yours says:

:)

[2020-03-30 20:01] dictoon commented on #2765
Indeed, thanks!

[2020-03-30 20:01] #2765 closed

[2020-03-30 21:07] codesavory commented on #1482
Is this still open? I see that the Python Console is in the lower half and to the right, can you please elaborate on python console tab to be on "second" position by default?

[2020-03-30 21:16] codesavory commented on #1722
I see that there is a **test** folder inside appleseed.python, is there something more specific expected for this issue?

[2020-04-01 00:56] nyue opened #2817 "Python3 only build ?"
Are we at the stage where we can build appleseed.studio when only Python3 is available ?

[2020-04-01 01:08] jdent02 commented on #2817
No.  Appleseed.studio is Python 2 only.

Python 3 is only used for the Blender plugin

[2020-04-01 09:48] est77 commented on #2817
Python 2 is also used in Gaffer and Maya plugins.

[2020-04-01 16:12] codesavory commented on #1261
There are tooltips for most of the options, does this issue require to either add more clear tootip or for some other options in render settings?

[2020-04-01 18:11] Mango-3 commented on #1273
Not sure if this is really a good idea. Many user probably don't have a good understanding what biased/unbiased means and even with (unbiased) vanilla path-tracing, the use of selective ray-clamping, bounce limits, low-light threshold or roughness clamping introduces some bias. Even bidir-path tracing with Metropolis sampling is biased (startup-bias). And SPPM is biased but consistent, it converge

[2020-04-01 21:50] dictoon commented on #1273
It's useful when doing predictive rendering to make sure that the rendering settings aren't introducing obvious bias: if you forget to disable Max Ray Intensity, the render will be obviously biased. In appleseed, only path tracing (unidirectional or bidirectional) with the proper settings (no MRI, no bounce limits, etc.) should be indicated as "unbiased".

[2020-04-02 19:42] Mango-3 commented on #1273
Relevant links for information:
[https://www.ci.i.u-tokyo.ac.jp/~hachisuka/misc.pdf](url)
[https://www.chaosgroup.com/blog/the-truth-about-unbiased-rendering](url)

[2020-04-04 07:05] est77 opened #2823 "Modernize cmake files"

[2020-04-05 09:02] dictoon opened #2826 "Switch to cheaper texture lookups after diffuse and rough glossy bounces"
After a diffuse bounce or a rough glossy bounce, "closest" filtering would be enough. Right now we're always doing smart cubic.

[2020-04-05 09:13] dictoon opened #2828 "Enable more modern instruction sets in Windows builds of OpenImageIO"
Right now we're enabling SSE2. OIIO supports more (`src/cmake/compiler.cmake`):

    set (USE_SIMD "" CACHE STRING "Use SIMD directives (0, sse2, sse3, ssse3, sse4.1, sse4.2, avx, avx2, avx512f, f16c, aes)")

[2020-04-05 09:14] dictoon commented on #701
Now that #2784 is merged, what's left to do in this ticket?

[2020-04-05 09:16] dictoon opened #2829 "Decouple sampling resolution from environment map resolution"
Given a WxH environment map, we're currently building a WxH 2D CDF. In many situations this is overkill. We could clamp the 2D CDF to a given (user-settable) maximum resolution like 1024x512.

[2020-04-05 12:03] lorentzo commented on #701
I was discussing the next steps with @est. Using conclusions from that discussion I have opened an issue: #2808.

So, the main idea is to transfer building importance map from `on_frame_begin()` to `on_render_begin()`. But in order to achieve that, we need some modifications as explained in #2808.

I will tackle with #2808. Also, any comments on the issue are welcome.

[2020-04-06 19:13] dictoon opened #2830 "Embedded with OSL shader with < character makes project file invalid"
Repro case: [31 - multiple source shaders.zip](https://github.com/appleseedhq/appleseed/files/4440385/31.-.multiple.source.shaders.zip)

Properly encoding the XML entities should fix the problem, but it didn't...

[2020-04-07 15:40] est commented on #701
No dont discuss next steps with me.

[2020-04-07 16:21] est77 commented on #701
That is not me!

[2020-04-07 16:48] dictoon commented on #701
@est Sorry, wrong user! Let me know if you want me to delete your comment (to prevent you from receiving further notifications).

[2020-04-08 05:17] est commented on #701
just kidding. please go on with your discussions.

[2020-04-09 05:44] mcstrassell09 opened #2836 "build failure macOS 10.15"
attempting to compile from source on macos 10.15. I Used the following cmake config:

[code]

Was compiling well for a while:

<img width="500" alt="D052443B77C3B911E48ED187AD047834" src="https://user-images.githubusercontent.com/47344882/78861735-63afdf80-79ea-11ea-8fe0-e01aa4e57125.png">

But soon ran into trouble...

<img width="978" alt="8B6C59C0A8F9CDDCFEEF07D84118DDB4" src="https://user-imag

[2020-04-10 07:26] dictoon commented on #2836
We build appleseed on macOS for every commit, maybe our Travis build script can be a source of inspiration? You can find it here:
https://github.com/appleseedhq/appleseed/blob/master/scripts/travis/build-macos.sh

And here is the corresponding log for the latest build (note that lines prefixed with a little triangle are sections that can be expanded):
https://travis-ci.org/github/appleseedhq/apple

[2020-04-10 07:27] dictoon commented on #2836
Although I don't remember ever seeing this, it doesn't look like a problem. Your issue has to do with Python 2.x. I remember seeing this error a few times. I would suggest a web search for this error, it will probably help.

[2020-04-10 07:38] dictoon commented on #2817
What would it take to completely get rid of Python 2.x? At least for everything that's not a plugin?

[2020-04-10 07:40] dictoon commented on #1482
I've edited the description for clarity.

[2020-04-10 07:50] #2284 closed

[2020-04-10 13:03] est77 commented on #2817
Updating the cmake files to link with Python 3 and boost python 3. Checking if the Python code we have in studio works with Py3. Updating the deps.
Since we cannot get rid of Py2 for a long time and we don't really use Python in studio I don't think it is worth it to update for now.

[2020-04-11 11:13] dictoon commented on #1260
Copying what I said on Discord so it doesn't get lost:

I would suggest introducing a Summary section, in place of the green rectangle of the screenshot below:

![image](https://user-images.githubusercontent.com/321290/79042210-ef498c00-7bf5-11ea-99d2-0a50f3dcdcd6.png)

This section would also host the biased/unbiased rendering indicator.

[2020-04-12 09:30] dictoon opened #2839 "Shading basis non-orthogonal on analytical sphere test scene"
Test scene
[code]
fails with an assertion in debug because the shading basis we try to construct in [`Intersector::make_procedural_surface_shading_point()`](https://github.com/appleseedhq/appleseed/blob/master/src/appleseed/renderer/kernel/intersection/intersector.cpp#L312-L315) is not orthogonal:

[code]

[2020-04-12 11:53] oktomus commented on #1729
When saving the output, aovs get written. The `runtestsuite.py` script should look for a reference image for all written images.

What should we do if a AOV is written but no reference image exists ? In this case, I think we should consider the test as failed with message "Missing additional reference image".

[2020-04-12 13:49] mcstrassell09 commented on #2836
Yes, It's a python2.x issue. Python has dropped support for anything <3.x as of Jan 1, 2020. Also, Homebrew no longer offers python@2 as and install formulae. So I am left with pyenv which has it's own set of environmental variable issues. Thank you for the response I will investigate more.

[2020-04-12 17:49] dictoon commented on #2836
Really? We run this for every commit on Travis/macOS and it works fine:

[code]

Not sure which macOS version it's running, but does Homebrew care about that?

[2020-04-12 17:50] dictoon commented on #1729
I think we should simply do for AOVs what we already do for beauty.

[2020-04-12 18:46] Mango-3 commented on #1273
Just a note. Also settings for the scene lights, e.g. `cast_shadows` and `cast_indirect_light` needs to be checked if they are set to `true` (for all enabled light sources) and ray visibility flags for objects.

[2020-04-12 19:35] mcstrassell09 commented on #2836
take a look at the available formulae. They've pulled it

[2020-04-13 16:59] dictoon commented on #2836
Ah, I think I understand what's going on: Python 2.7 is already installed in our macOS environment. Weird, I would have expected Brew to complain nevertheless:
https://travis-ci.org/github/appleseedhq/appleseed/jobs/674293462#L2857

[2020-04-14 14:39] est77 opened #2843 "Remove uses of Disney material in test scenes"
The material is not built in travis binaries and there are plans to deprecated it in any case.

[2020-04-14 21:14] dictoon opened #2844 "Include total test suite execution time in HTML report"
The total test suite execution time is already measured and displayed in the console. This information, as well as the total number of passed/failed tests, should be included in the HTML report.

[2020-04-14 21:16] dictoon opened #2845 "Include appleseed.cli version string in test suite's HTML report"
Basically include the output of `appleseed.cli --version` in the HTML report.

`scripts/rendernode.py` already does that:

[code]

[2020-04-14 21:21] dictoon commented on #143
Outdated.

[2020-04-14 21:21] #143 closed

[2020-04-14 22:05] dictoon commented on #886
Done.

[2020-04-14 22:05] #886 closed

[2020-04-15 12:56] oktomus opened #2847 "Automatic test scenes job improvements"
- [ ] Add a lock system to ensure a job can start if another job is running
- [ ] Place the build report in the web server
- [ ] Add the commit link in the build report

[2020-04-15 14:42] oktomus commented on #2847
The travis build used to run the tests can be seen here http://107.170.222.178:8181/report.txt

[2020-04-15 15:38] oktomus commented on #2847
- report : http://107.170.222.178:8181/report.html
- job log : http://107.170.222.178:8181/job.txt
- build report : http://107.170.222.178:8181/report.txt
- last tests report : http://107.170.222.178:8181/last_report.html

[2020-04-16 08:11] dictoon commented on #2843
DOne.

[2020-04-16 08:11] #2843 closed

[2020-04-16 08:15] dictoon commented on #1292
`WITH_NORMALIZED_DIFFUSION_BSSRDF` and `WITH_PARTIO` are gone. `WITH_DISNEY_MATERIAL` is will be gone imminently.

I think it makes sense to keep `WITH_TOOLS` and `WITH_CLI`.

[2020-04-16 08:15] #1292 closed

[2020-04-16 08:15] dictoon commented on #734
Disney material will be gone imminently.

[2020-04-16 08:15] #734 closed

[2020-04-16 08:16] dictoon commented on #562
Disney material will be gone imminently.

[2020-04-16 08:16] #562 closed

[2020-04-16 08:16] dictoon commented on #1530
We should check if this happens with the Disney BRDF.

[2020-04-16 08:17] dictoon commented on #735
Disney material will be gone imminently.

[2020-04-16 08:17] #735 closed

[2020-04-17 21:38] dictoon opened #2852 "Disney BRDF uses both roughness and glossiness (for the clearcoat)"
It's confusing.

[2020-04-17 21:44] est77 commented on #2852
It comes from the original paper.
We don't want to change it for compatibility with other tools using this model.

[2020-04-17 21:44] #2852 closed

[2020-04-17 21:50] dictoon commented on #2852
Are other tools expecting glossiness for the clearcoat?

[2020-04-18 13:11] #2830 closed

[2020-04-18 14:45] oktomus commented on #2847
http://testsuite.appleseedhq.net:8080/

[2020-04-18 20:10] oktomus opened #2853 "Include commit hash (and possibly title) in test suite HTML report"
See `scripts/runtestsuite/runtestsuite.py`

Issue originally from https://github.com/appleseedhq/appleseed/issues/2847

[2020-04-18 20:11] oktomus commented on #2844
See `scripts/runtestsuite/runtestsuite.py`.

Originally from https://github.com/appleseedhq/appleseed/issues/2847

[2020-05-05 22:46] usakhelo opened #2861 "Direct lighting still visible in reflections even when it's disabled"
Hi,
This issue is visible when non-physical lights are used.
There are spot lights in this scene but direct lighting is disabled. Nonetheless shadows and lighting is visible in reflection:
![image](https://user-images.githubusercontent.com/1850877/81123017-1dbe3c80-8f00-11ea-9bac-48d00d6eee10.png)

I think it comes from this line in `on_scatter` function in ptlightingengine.cpp
[code]

[2020-05-08 14:01] oktomus commented on #2861
Visible in reflection and direct lighting are two different things right ?

[2020-05-09 08:42] Mango-3 commented on #2861
Yes, I think the definition of direct lighting is lighting provided from a source without reflection from other surfaces.

[2020-06-07 18:44] #2735 closed

[2020-06-19 14:17] #2808 closed

[2020-06-26 14:30] BashPrince opened #2876 "Plastic BRDF brightness differences in sample and evaluate methods"
Last year I discovered that the spectrum values returned from the plastic brdf are different in the `sample` and the `evaluate` methdos for the same direction. This can be seen when looking at an image rendered with path tracing with next event estimation on and off and flicking between them.

![nee](https://user-images.githubusercontent.com/26113941/85864891-650ccf00-b7c5-11ea-8e8c-771e49108774.p

[2020-06-30 15:37] dictoon commented on #2876
Hi Stephen, thanks for looking into this in details, much appreciated!

Hopefully @est77 can shed some light here as I'm not familiar with this code. I'll ask him if he chime in.

[2020-07-03 17:21] laurelkeys opened #2879 "Reflected colors are flipped with asDoubleShade"
## Example:
![image](https://user-images.githubusercontent.com/13294013/86488668-3304eb00-bd38-11ea-98d3-1b4683e287ea.png)

## Expected (Cycles):
![image](https://user-images.githubusercontent.com/13294013/86488703-4a43d880-bd38-11ea-970b-4dc2edcf1f2c.png)

[2020-07-11 14:11] annony6996 opened #2881 "Appleseed"

[2020-07-11 14:13] #2881 closed

[2020-07-11 14:13] annony6996 commented on #2881
End

[2020-07-24 17:53] himanshujaidka commented on #2853
Where do I get scripts folder?

[2020-07-27 10:40] oktomus commented on #2853
@himanshujaidka It's here https://github.com/appleseedhq/automated-test-suite

[2020-07-27 11:41] himanshujaidka commented on #2853
I mean I have downloaded all the files but unable to find this particular file that you mention above

[2020-07-27 11:42] himanshujaidka commented on #2853
I want to solve this issue and I am fresher so pls guide me on how I i'll solve this issue? Please help me out!

[2020-07-27 11:42] oktomus commented on #2853
Ah, it's here https://github.com/appleseedhq/appleseed/blob/master/scripts/runtestsuite/runtestsuite.py

[2020-07-27 11:43] oktomus commented on #2853
The HTML report is a file generated by the test runner. Have you ever ran appleseed or the test suite ?

[2020-07-27 11:47] himanshujaidka commented on #2853
I have installed appleseed

[2020-07-27 11:48] himanshujaidka commented on #2853
and runs an Appleseed application

[2020-07-27 11:48] himanshujaidka commented on #2853
but only once 😅 checked the sample piece which is pre-built by the community

[2020-07-27 11:52] himanshujaidka commented on #2853
If u will guide me then it's my pleasure 😅

[2020-07-27 15:29] oktomus commented on #2853
You should come on Discord, the link is in the README. For more information on how to use appleseed, check https://appleseedhq.net/, for developers info, check the wiki https://github.com/appleseedhq/appleseed/wiki.

You can ask for help on the forum https://forum.appleseedhq.net/

[2020-07-27 15:39] himanshujaidka commented on #2853
Your discord id?

[2020-07-27 15:43] himanshujaidka commented on #2853
Ok, I got it :)

[2020-07-27 16:44] lorentzo opened #2883 "Converting normal map values to vectors; numerical errors"
Perturbed normals are encoded in normal map pixels as RGB vectors. To obtain a perturbed normal conversion from RGB to unit vector is required. The problem appears when one (or more) of RGB channel has a value of 128 which should exactly be 0 in converted vector. But in this case, converted vector not 0 but close to 0, more specifically: 0.003921 or -0.003921.

Below is the normal map baked in Ble

[2020-09-20 19:33] bartoszek opened #2892 "openimagedenoise:1.2.3 support"
Can't build against `openimagedenoise:1.2.3`
Error log:
[code]
[full_log.txt](https://github.com/appleseedhq/appleseed/files/5252460/log.txt)

[2020-09-30 13:58] epsilon-0 commented on #2817
@est77
Am bringing up this issue again, as python2 has reached EOL and general support for it has been on the lower side.
Am wondering how hard is the python2 to python3 migration?
Would love to give any small help I can, I am trying to get this packaged for Gentoo and we have actively removed a lot of python2 and are soon going to remove it from the OS, so would like to see this one working with

[2020-09-30 14:01] epsilon-0 commented on #2817
The few python3 files I could fine,in the few seconds I spent -
[code]

[2020-10-22 22:39] h44rd commented on #2844
Hi, I'd like to take this issue up. I've gone through the `scripts/runtestsuite/runtestsuite.py`  file and there are two types of reports (simple and detailed). Is the total execution time required to be in both the types of the reports?

[2020-10-23 17:25] oktomus commented on #2844
@h44rd  That would be great to have it in both :)

- html : http://testsuite.appleseedhq.net:8080/current-job/sandbox/tests/test%20scenes/report.html
- and txt : http://testsuite.appleseedhq.net:8080/current-job/sandbox/tests/test%20scenes/testsuite_script_log.txt

[2020-11-17 20:27] kushagrabhushan commented on #1482
Hi. I'm very new to open source. Can someone tell me how to get started? I'd really like to contribute!

[2020-11-20 18:31] #1243 closed

[2020-12-08 07:08] Mango-3 opened #2905 "Expose Shader Groups parameter in Attribute Editor in appleseed.studio"
Currently OSL shader parameter from exported scene files from the plug-ins cannot be easily changed in studio.
See screenshot below of an asGlass material from a scene exported from appleseed-Maya and loaded into studio

![shader_parameter](https://user-images.githubusercontent.com/22252558/101451275-8a853380-3934-11eb-8275-30d5b174db6f.PNG)

![shadergroups](https://user-images.githubusercontent.c

[2020-12-09 07:19] imSanko commented on #2883
I wanna work on to this project can you assign it to me.

[2021-01-30 07:05] Sam-0505 commented on #2600
Hey, I am new to open-source. Can I take up this issue?

[2021-01-30 10:05] oktomus commented on #2600
@Sam-0505 Yes, feel free to give it a try

[2021-02-20 18:59] 85ayush commented on #2853
hello I would love to work on this issue. Can you please guide me.

[2021-02-22 13:05] oktomus commented on #2853
It was already tackled by @russkev in #2903. Sorry

[2021-02-22 17:11] #2853 closed

[2021-02-22 17:11] #2844 closed

[2021-03-08 10:41] danfe commented on #2817
Python 3 bindings do not build for me unless I apply [this patch](https://github.com/appleseedhq/appleseed/files/6100741/p3.diff.txt) first.

On the contrary, it appleseed.studio can be divorced from Python 2.x easily it makes even more sense to do so.  Python 2.x code is not even allowed in some distributions which means only CLI part can be packaged.

[2021-03-11 05:43] danfe commented on #2520
Tripped on this today as well; had to add symlink in `$HOME` which points to `shaders` directory of system-wide appleseed installation as a quick'n'dirty fix.

I see this `Application::initialize_resource_search_paths()` method in `src/appleseed.shared/application/application.cpp` which does exactly that, i.e. sets default search path to `root_path / "shaders"`, yet it does not end up on the proje

[2021-03-14 13:31] danfe commented on #2817
We (FreeBSD) started to package (again) the latest released version 2.1.0-beta with Python 3.x bindings and appleseed.studio enabled.  This requires [some patching](https://svnweb.freebsd.org/ports/head/graphics/appleseed/files/), but not too much.  Admittedly, I haven't checked every Python script for 3.x conformance, but both CLI and GUI allow me to render a test scene.

[2021-03-24 23:48] bartoszek commented on #2596
Don't link to `liboptix.so` just call `OptixInit()` to dynload `libnvoptix` library, and you can throw custom `FindOptix.cmake` and use one provided with `optix>=7.0` (ﾉ´ з `)ノ

[2021-05-18 05:47] AyushRaj8271 commented on #2704
hey @dictoon! Is this issue still open?

[2021-05-18 06:11] oktomus commented on #2704
It is.

[2021-05-18 06:13] oktomus commented on #2704
@AyushRaj8271 It's possible that the last PR #2869 doesn't replace all occurences. You can check in the code

[2021-06-09 10:03] Saarli commented on #1788
Hi, Maurice here. Can I be asigned to this as my first Issue?

[2021-06-13 15:31] oktomus commented on #1788
@Saarli Hi, feel free to give it a try, no need to assign issues :)

[2021-06-14 10:05] Saarli commented on #1788
It seems I don't have writing rights and therefore can't push branches yet

[2021-06-14 10:39] oktomus commented on #1788
You should make a fork first. https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

[2021-06-14 10:50] Saarli commented on #1788
Thank you verry much

[2021-08-24 07:15] Pranjal-dew commented on #2812
hi there, can I contribute to this issue?

[2021-08-24 07:15] Pranjal-dew commented on #2101
hi there, can I contribute to this issue?

[2021-11-20 14:07] zhou0 opened #2916 "make error function 'inverse' was not declared in this scope"
[ 48%] Generating ../../../sandbox/shaders/max/as_max_color_balance.oso
/home/li/\344\270\213\350\275\275/appleseed-2.1.0-beta/src/appleseed.shaders/include/appleseed/color/as_chromatic_adaptation.h:177: error: function 'inverse' was not declared in this scope
/home/li/\344\270\213\350\275\275/appleseed-2.1.0-beta/src/appleseed.shaders/include/appleseed/color/as_chromatic_adaptation.h:177: error:

[2021-12-28 02:45] dandingol03 opened #2917 "【MAC】install boost-python failed"
MAC OS: big sur 11.4
python version: 2.7.16
log:
[code]

[2022-01-29 21:55] hced opened #2918 "No appleseed-maya.mod in the download"
Trying to install latest Appleseed for latest Maya (as of current date) and I downloaded the zip in the Download on top of the Appleseed website. In the install instructions in the Docs, it says I should point maya env to the path where the `appleseed-maya.mod` is located. But I can't locate that file in my download..

[2022-02-07 12:39] JaanWilli opened #2919 "Endless Loop when Scene fails on_render_begin()"
This issue occured while working on PR #2914, where the camera returns `false` in  `on_render_begin()` when there are errors. In such a case, and endless loop is entered that infinitely calls `on_render_begin()`. All other cameras always return `true` and therefore never run into this problem, but the issue can easily be reproduced by forcing a `return false`.

It appears that the MasterRenderer s

[2022-03-04 09:18] Mango-3 commented on #2918
The appleseed Maya plugin is an independent download from appleseed-core/studio.
[https://github.com/appleseedhq/appleseed-maya/releases](https://github.com/appleseedhq/appleseed-maya/releases)
A developer version for Maya 2020 Windows can be downloaded from
[ appleseed-maya2020-dev-win64 .zip
](https://mega.nz/file/UdxCBZAJ#jTzCLPzYAZqe3hEDZiI7ud3Q2UiGq_MGrfjee0bmRMk)